section {
    text-align: left;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    --font-size-normal: 14px;
}

section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

section .radioContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

section .contentBx .formBx {
    width: 500px;
    box-shadow: 0px 2px 18px 2px rgba(0,0,0, 0.3);
    padding: 2rem 3rem;
    border-radius: 8px;
}

section .contentBx .formBx h2 {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #75AC3A;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span {
    font-size: var(--font-size-normal);
    margin-bottom: 5px;
    display: inline-block;
    color: var(--darkMode800);
    font-weight: 300;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid var(--darkMode800);
    font-size: var(--font-size-normal);
    letter-spacing: 1px;
    color: var(--darkMode800);
    background: transparent;
    border-radius: 5px;
}

section .contentBx .formBx .inputBx input[type="submit"] {
    background: #75AC3A;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover {
    background: #5A7140;
}

section .contentBx .formBx .pass {
    margin-bottom: 10px;
    font-weight: 400;
}

section .contentBx .formBx .auth-details {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--darkMode800);
}
section .contentBx .formBx .auth-title{
    margin-bottom: .5rem !important;
}

section .contentBx .formBx .auth-details .category {
    display: flex;
    width: 80%;
    justify-content: space-between;
    /* margin: 10px 0; */
}

section .contentBx .formBx .auth-details .category label {
    display: flex;
    align-items: center;
}

section .contentBx .formBx .auth-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

#dot-1:checked~.auth-details .category label .one,
#dot-1:checked~.auth-details .category label .two,
#dot-1:checked~.auth-details .category label .three {
    border-color: #d9d9d9;
    background: #75AC3A;
}

form input[type="radio"] {
    display: none;
}

section .contentBx .formBx .inputBx p {
    color: var(--darkMode800);
    font-size: var(--font-size-normal);
    font-weight: 300;
    margin-left: .5rem;
}

section .contentBx .formBx .inputBx p a {
    font-size: var(--font-size-normal);
    color: #75AC3A;
    margin-left: .8rem;
    font-weight: 500;
}

section .contentBx .formBx .pass a {
    font-size: var(--font-size-normal);
    color: #75AC3A;
}

.noAccount{
    font-size: var(--font-size-normal);
    text-align: center;
}