.container{
    display: flex;
    height: 100%;
    width: 100%;
}
.main_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar{
    /* position: fixed; */
    height: 100%;
    width: 300px;
    background:#fff;
    border-right:1px solid #E0E0E0 ;
    /* box-shadow: 0px 3px 12px rgba(0,0,0,0.2); */
}
.sidebar .nav-links{
  
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-between;
}
.sidebar .nav-links li{
    height: 50px;
    width: 100%;
    list-style: none;
}  
.sidebar .nav-links li a{
   
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #424242;
    text-decoration: none;
    transition: all 0.4s ease;
 
}  
.sidebar .nav-links li a.active{
    background:#d6e6c4 !important;
}
.sidebar .nav-links li a:hover{
    background:#EEEEEE;
}
.sidebar .nav-links li a i{
    min-width: 60px;
    text-align: center;
    color: #424242;
    font-size: 18px;

}
.sidebar .nav-links li a .link_name{
    color:#424242 ;
    font-size: 15px;
    font-weight: 400;

}
.header{
    /* background:#fff; */
    width: 100%;
    height: fit-content;
}
.header nav{
    width: 100%;
    height: 60px;
    background:#fff;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
.header nav .sidebar-button i{
    font-size: 25px;
    margin-right: 10px;
}
.header nav .profile-details{
    height: 50px;
    display: flex;
    align-items: center;
    min-width: 80px;
}
.header nav .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: 6px;
    border-radius: 50%;
    margin-right: .5rem;
    
}
.header nav .profile-details .admin_name{
    color:#424242 ;
    font-size: 15px;
    font-weight: 400;

}
.cards{
    height:100%;
    background:#fff;
    display: flex;
    flex-direction: column;
}
.cards .info_card{
    background: #fff;
    padding: 1rem;
    margin:2rem 1rem;
    border:1px solid #E0E0E0 ;
    border-radius: 6px;
}