/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

} */

section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentBx .formBx {
    width: 70%;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
    padding: 3rem 4rem;
    margin-top: 2rem;
    height: 80%;
    overflow-y: scroll;
}

section .contentBx .formBx h2 {
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #75AC3A;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #2F4858;
    font-weight: 300;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #2F4858;
    font-size: 16px;
    letter-spacing: 1px;
    color: #2F4858;
    background: transparent;
    border-radius: 5px;
}

section .contentBx .formBx .inputBx input[type="submit"] {
    background: #75AC3A;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover {
    background: #5A7140;
}

section .contentBx .formBx .pass {
    margin-bottom: 10px;
    font-weight: 400;
}

section .contentBx .formBx .auth-details {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #2F4858;
}

section .contentBx .formBx .auth-details .auth-title {
    /* font-size: 17px;
    font-weight: 300; */
    margin-bottom: 1rem !important;
    /* color:#2F4858; */
}

section .contentBx .formBx .auth-details .category {
    display: flex;
    width: 80%;
    justify-content: space-between;
    /* margin: 10px 0; */
}

section .contentBx .formBx .auth-details .category label {
    display: flex;
    align-items: center;
}

section .contentBx .formBx .auth-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

#dot-1:checked~.auth-details .category label .one,
#dot-1:checked~.auth-details .category label .two,
#dot-1:checked~.auth-details .category label .three {
    border-color: #d9d9d9;
    background: #75AC3A;
}

form input[type="radio"] {
    display: none;
}

section .contentBx .formBx .inputBx p {
    color: #2F4858;
    font-size: 17px;
    font-weight: 300;
}

section .contentBx .formBx .inputBx p a {
    color: #75AC3A;
}

section .contentBx .formBx .pass a {
    color: #75AC3A;
}