.appointments{
  height:100%;
  background:#fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  gap: 1rem;
  padding: .5rem 1rem;
}

.appointments .info_card{
  width: 100%;
  background: #fff;
  padding: .5rem 1rem;
  border:1px solid #E0E0E0 ;
  border-radius: 6px;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .doctor_icon{
    width: 60px;
    height: 60px;
    font-size: 2rem;
    color: var(--darkMode800);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(117,172,57, .25);
    border-radius: 50%;
  }

  .doctor_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;

    .doctor_name{
      font-weight: 500;
    }
  }

  .appointment_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
  }

  .appointment_time{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .2rem;
    width: 20%;
    background-color: rgba(117,172,57, .25);
    padding: .3rem .5rem;
    border-radius: 6px;
  }
  .confirmation_status{
    font-size: .7rem;
    padding: .1rem .3rem;
    background-color: var(--darkMode800);
    color: var(--darkMode100);
    border-radius: 4px;
  }
}

