:root{

  /* colors */
  --medGreen100: #e3eed7;
  --medGreen200: #d6e6c4;
  --medGreen300: #c8deb0;
  --medGreen400: #bad69c;
  --medGreen500: #accd88;
  --medGreen600: #9ec574;
  --medGreen700: #91bd61;
  --medGreen800: #83b44d;
  --medGreen900: #75AC39;
  --darkMode100: #F5F5F5;
  --darkMode200: #EEEEEE;
  --darkMode300: #E0E0E0;
  --darkMode400: #BDBDBD;
  --darkMode500: #9E9E9E;
  --darkMode600: #757575;
  --darkMode700: #616161;
  --darkMode800: #424242;
  --darkMode900: #212121;
}

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
